tmp
cache
backup
.vscode
notes.md
# README.md
nohup.out
code/logs
# data
# results
data/MoralBench
results/figures
results/impact-core-4rules
results/impact-core-4rules-new
results/impact-core-rules
results/specific/socialchemistry
results/specific/moralchoice-two-choice-high-ambiguity-generalization

to-delete
**/__pycache__
code/night.sh
code/prep.ipynb
code/api_key.json
code/backup-and-notes.ipynb
code/agent_editor.py
code/result_summary_full.ipynb
code/result_summary_old.ipynb
